html,
body,
.app{
    height: 100vh;
    background:#eee;
    padding: 1em;
}
.messages{
    height:440px;
    overflow-y:scroll;
}
.messages_form{
    position: fixed !important;
    bottom:1em;
    margin-left:320px !important;
    left:0;
    right:1em;
    z-index:200;
}